{% extends 'base.html.twig' %}
{% block body %}

    <h1>About us</h1>

    <div>
        {% for us in aboutus %}

            <img src="{{ us.picture1 }}" alt="About us 1"/>
            <p>{{ us.information }}</p>
            <img src="{{ us.picture2 }}" alt="About us 2"/>


        {% endfor %}
    </div>

{% endblock %}