<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Wild Circus{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="navbar" id="navbarNavDropdown">
            <ul class="navbar-pers">
                <li class="nav-item active">
                    <a class="nav-link" href="performance">Performances</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about-us">About us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="prices">Prices</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                </li>
            </ul>
        </div>
        <p>
            {% if app.user %}
                Bonjour {{ app.user.email }} !
                <a href="{{ path('app_logout') }}"> Se déconnecter</a>
            {% else %}
                <a href="{{ path('app_login') }}"> Se connecter</a>
            {% endif %}
        </p>
    </nav>

        {% block body %}{% endblock %}

    <footer>
        <ul>
            <li class="pied"><a href="https://wildcodeschool.fr/" class="lienpied" target="blank">Wild Circus</a> by <a href="https://docs.google.com/presentation/d/1gL-rti4jmTPU9Hs6IcLutMltEW7_2nD4Tt8Pup6VWP0/edit?usp=sharing" class="lienpied" target="_blank">[Arnaud Auzou]</a></li>
            <li class="pied">France-IOI: <a href="http://www.france-ioi.org/user/perso.php?sLogin=arnaudam" class="lienpied" target="_blank">My exercices</a></li>
            <li class="pied">SoloLearn: <a href="https://www.sololearn.com/Profile/11921078" class="lienpied" target="_blank">My certificates</a></li>
            <li class="pied">Wild Code School - [19/12/2018]</li>
        </ul>
    </footer>

        {% block javascripts %}{% endblock %}
    </body>
</html>
