{% extends 'base.html.twig' %}
{% block body %}

    <h1>Prices</h1>

    <div class="container">
        <table class="table">
            <tr>
                <td>You are</td>
                <td>Week except Wed.</td>
                <td>Weekend & Wed.</td>
            </tr>
            {% for price in prices %}
            <tr>
                <td>{{ price.person }}</td>
                <td>{{ price.priceweek }}</td>
                <td>{{ price.pricewednesday }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

{% endblock %}