<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport">

    <title>Une nouvelle performance est arrivée</title>
</head>

<body>

    {% block body %}{% endblock %}

</body>

</html>